main {
  border: 10px solid #4285f4;
  width: 50%;
}

p {
  text-align: center;
  font-weight: bold;
  font-family: verdana;
  font-size: 24px;
  margin: 0px;
  padding: 20px;
  color: white;
}

.north {
  background-color: #E67676;
}

.east {
  background-color: #F2F062;
}

.south {
  background-color: #A9E6E6;
}

.west {
  background-color: #7692E4;
}